 .button-design{
    border-radius: 6px;
    background-color: #0d6dfde2;
    text-shadow: 0 0 black;
    color: white;
 }

 
 .button-design1{
   border-radius: 6px;
   background-color: rgb(255, 0, 0);
   text-shadow: 0 0 black;
   color: white   ;
}
 